{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "prettier",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended"
    ],
    "plugins": ["react", "react-hooks"],
    "rules": {
        "indent": ["error", 4, {"SwitchCase": 1}],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off",
        "react-hooks/exhaustive-deps": "warn",
        "react/jsx-no-bind": "warn"
    },
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    }
}
